<footer>

    <section class="section1 row grid gap-4">

        <div class="row col-9">
            <div class="col-12 col-md-4 col-lg-3">
                <ul> 
                    <li><a class="licol1" routerLink="/">Gift cards</a></li>
                    <li><a class="licol1" routerLink="/">Find a store</a></li>
                    <li><a class="licol1" routerLink="/">Become a member</a></li>
                    <li><a class="licol1" routerLink="/">Nike x nba</a></li>
                    <li><a class="licol1" routerLink="/">nike journal</a></li>
                    <li><a class="licol1" routerLink="/">send us feedback</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <ul> 
                    <li><a class="licol2" routerLink="/">Get help</a></li>
                    <li><a class="licol2" routerLink="/">Order Status</a></li>
                    <li><a class="licol2" routerLink="/">Shipping and Delivery</a></li>
                    <li><a class="licol2" routerLink="/">Returns</a></li>
                    <li><a class="licol2" routerLink="/">Order Cancellation</a></li>
                    <li><a class="licol2" routerLink="/">Payment Options</a></li>
                    <li><a class="licol2" routerLink="/">Gift Card Balance</a></li>
                    <li><a class="licol2" routerLink="/">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <ul> 
                    <li><a class="licol3" routerLink="/">About nike</a></li>
                    <li><a class="licol3" routerLink="/">News</a></li>
                    <li><a class="licol3" routerLink="/">Careers</a></li>
                    <li><a class="licol3" routerLink="/">Returns</a></li>
                    <li><a class="licol3" routerLink="/">Investors</a></li>
                    <li><a class="licol3" routerLink="/">Purpose</a></li>
                    <li><a class="licol3" routerLink="/">Sustainability</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <ul> 
                    <li><a class="licol4" routerLink="/">Promotions & Discounts</a></li>
                    <li><a class="licol4" routerLink="/">Student</a></li>
                    <li><a class="licol4" routerLink="/">Military</a></li>
                    <li><a class="licol4" routerLink="/">Teacher</a></li>
                    <li><a class="licol4" routerLink="/">First Responders & Medical</a></li>
                    <li><a class="licol4" routerLink="/">Professionals</a></li>
                    <li><a class="licol4" routerLink="/">Birthday</a></li>
                </ul>
            </div>
        </div>

        <div class="col-3">
            <ul class="d-flex justify-content-end align-items-center">
                <li>
                    <a class="licol5" href="https://twitter.com/Nike" target="_blank">
                        <i class="fa-brands fa-twitter fa-2xl" style="color: #7e7e7e;"></i>
                    </a>
                </li>
                <li>
                    <a class="licol5" href="https://www.facebook.com/nike" target="_blank">
                        <i class="fa-brands fa-facebook fa-2xl" style="color: #7e7e7e;"></i>
                    </a>
                </li>
                <li>
                    <a class="licol5" href="https://www.youtube.com/user/nike" target="_blank">
                        <i class="fa-brands fa-youtube fa-2xl" style="color: #7e7e7e;"></i>
                    </a>
                </li>
                <li>
                    <a class="licol5" href="https://www.instagram.com/nike/" target="_blank">
                        <i class="fa-brands fa-instagram fa-2xl" style="color: #7e7e7e;"></i>
                    </a>
                </li>
            </ul>
        </div>

    </section>

    <section class="section2 order-2 order-md-3 d-md-flex justify-content-end">
        <ul class="d-md-flex justify-content-center">
            <li><a class="li6" routerLink="/">Guides</a></li>
            <li><a class="li6" routerLink="/">Terms of Sale</a></li>
            <li><a class="li6" routerLink="/">Terms of Use</a></li>
            <li><a class="li6" routerLink="/">Nike Privacy Policy</a></li>
        </ul>
    </section>

    <section class="section3 d-md-flex justify-content-between">
        <ul class="d-md-flex ">
            <li>
                <a class="li7" routerLink="/">
                    <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>&nbsp;&nbsp;
                    United States</a>
            </li>
            <li><a class="li7" routerLink="/">&copy; 2023 Nike, Inc. All Rights Reserved</a></li>
        </ul>
        <ul class="d-md-flex">
            <li><a class="li8" routerLink="/">Your Privacy Choices</a></li>
            <li><a class="li8" routerLink="/">CA Supply Chains Act</a></li>
        </ul>
    </section>

</footer>