nav {
    background-color: var(--lightGrey);
    padding: 4px 50px;
}

img {
    margin-right: 26px;
}

img:hover {
    cursor: pointer;
    opacity: 0.6;
}

ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.links {
    color: var(--black);
}

.links-li {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0 0 0 11px;
}

.links-li:hover {
    cursor: pointer;
    opacity: 0.6;
}

.links-li::after {
    content: "|";
    margin-left: 11px;
    color: var(--black);
}

.links-li:last-child::after {
    content: none;
}

.help-tooltip {
    position: absolute;
    top: 6%;
    left: 71%;
    width: 240px;
    background-color: var(--white);
    color: var(--black);
    padding: 20px;
    border-radius: 6px;
    z-index: 1000;
}

.help-text {
    font-weight: bold;
    margin-bottom: 20px;
}

.help-li {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.help-link {

    color: var(--grey);
}

.help-link:hover {
    cursor: pointer;
    color: var(--black);
}